<!DOCTYPE html 
		 PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en" lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		{% block css %}
			<link rel="stylesheet" type="text/css"	media="screen, projection" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
		{% endblock %}

		{% block js %}
			<script type="text/javascript" src="{{ MEDIA_URL }}combined-{{ LANGUAGE_CODE }}.js"></script>
		{% endblock %}

		{% block extra-head %}{% endblock %}
	</head>
	<body>
		<div id="header">
			{% block header %}
			{% endblock %}
		</div>
		<div id="content" class="column container">
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
		</div>
	</body>
</html>
