/* Stylesheet For The Home Page */

/* Title Bar */
div#title { height: 96px; width: 960px; }
div#title:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
div#title > * { float: left; }
div#title > div#logo { height: 96px; width: 503px; background:url(../images/title_logo.png) left no-repeat #FFF; }
div#title > div#slogan { height: 96px; width: 457px; background:url(../images/title_slogan.png) left no-repeat #FFF; }

/* "Learn More" Section */
div#learn { height: auto; width: 503px; font-family: Verdana, Arial, Helvetica, sans-serif; float: left; }
div#learn > div.top { height: 115px; width: 503px; background:url(../images/learn_header.png) bottom no-repeat; }
div#learn > div.top > h1 { display: block; width: 300px; float: left; margin: 36px 10px 0 20px; line-height: 20px; font-size: 14px; color:#333333; }
div#learn > div.top > ul { display: block; width: 163px; margin: 24px 10px 0 0; list-style: none; float: left; }
div#learn > div.top > ul > li { padding-bottom: 7px; }
div#learn > div.top > ul > li > a { font-size: 12px; color:#FFFFFF; font-weight: bold; }
div#learn > div.top > ul > li > a:hover { margin-right: 10px; }
div#learn > div.top > ul > li > span { font-size: 13px; color:#FFFFFF; font-weight: bold; padding-left: 5px; }
div#learn > div.bottom > div.top { height: 5px; width: 503px; background: url(../images/shadow_learn_top.png) bottom no-repeat; }
div#learn > div.bottom > div.middle { height: auto; width: 503px; background: url(../images/shadow_learn_middle.png) top repeat-y; }
div#learn > div.bottom > div.middle > span { width: 503px; text-align: center; padding: 150px 0; font-size: 11px; display:block; }

/* Login/New Account Form */
div#login { height: auto; width: 457px; font-family: Verdana, Arial, Helvetica, sans-serif; float: left; background: url(../images/shadow_login_top.png) top no-repeat #FFF; }
div#login .__new { display: none; }
div#login > * { display: block; margin: 0 auto; text-align:center; }
div#login > h1 { font-size: 24px; color: #82D7FB; margin: 40px 0 10px; font-weight: normal; }
div#login > h2 { font-size: 24px; color: #FF9400; margin: 40px 0 10px; font-weight: normal; }
div#login ul { text-align: left; width: 457px; }
div#login ul > li { padding: 0 0 15px 95px; margin: 0 auto; }
div#login ul > li > input { border: 0 none; background: url(../images/white_btn.png) center center no-repeat;  height: 19px; width: 262px; padding: 6px; font-family: "Courier New", Courier, monospace; color: #333333; font-size: 16px;  }
div#login > form > div { width: 270px; margin: 0 auto;  }
div#login > form > input { margin: 0 auto; font-weight: bold; color:#FFFFFF; text-transform:uppercase; background-position: center center; font-size: 12px; cursor: pointer; background-repeat: no-repeat; padding: 0; height: 31px; width: 274px; text-align:center; display: block; border: none 0;  }
div#login > form > input.blue { background-image: url(../images/blue_btn.png); }
div#login > form > input.orange { background-image: url(../images/orange_btn.png); }
div#login > a { padding-bottom: 30px; font-size: 12px; }
div#login > a:hover { text-decoration: underline; }
div#login > a.orange {  color: #F88000; } 
div#login > a.blue {  color: #82D7FB;  }
